:root {
    --cell-size: 2rem;
    --color-blue: rgb(37, 54, 99);
    --color-ligth-blue: rgb(127, 176, 248);
    --color-green:  rgb(96, 185, 123);
    --color-red: rgb(201, 65, 65); 
}

body {     
    display: grid;
    justify-content: center; 
    margin: 0;
    user-select: none; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(199, 196, 196);
    letter-spacing: 1px;
    background-color: rgb(37, 54, 99);    
}

header {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 4rem 0;    
    color: var(--color-green); 
    width: 100vw;    

    span:nth-child(2) {
        color: var(--color-ligth-blue); 
    }

    #button-drag-and-drop {
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
        margin: auto 0;
        right: 4rem;
        height: 3rem;
        width: 3rem;
        font-size: 2rem;
        background-color: var(--color-blue); 
        border: none;         
        color: rgb(226, 226, 90);
        opacity: 0.8;        
    }

    #button-drag-and-drop:hover {        
        opacity: 1;
    }
}

main { 
    position: relative;  
    display: flex;
    gap: 4rem;
    justify-content: center;   
}

.board-row {
    display: flex;
}

.board-title-human,
.board-title-computer {
    text-align: center;
    height: 60px;
    color: var(--color-green);   
}

.board-cell,
.board-cell-nohover {
    position: relative;
    width: var(--cell-size);
    aspect-ratio: 1;  
    display: grid;
    justify-content: center;
    align-items: center;   
    border-style: none; 
    cursor: pointer; 
    background: rgb(51, 72, 128);    
    border-radius: 2px;  
}

.board-cell:hover {   
    border: solid 1px rgb(75, 120, 187);   
}

.board-cell-nohover {    
    cursor: auto;   
}

.marker-col,
.marker-row {
    position: absolute;   
    width: 100%;
    text-align: center;   
    color: rgb(178, 178, 180);
    pointer-events: none;
}

.marker-col {
    top: -1.5rem;
    left: 0;
    font-size: 12px;
}

.marker-row {   
    left: -2.5rem;
    font-size: 14px;    
}

#computer,
#human {
    position: relative; 
    display: grid;
    gap: 2px;      
}

.board-row {   
    gap: 2px; 
}

.ship-draggable {
    position: absolute;
    display: flex;   
    border: solid 2px var(--color-ligth-blue);
    cursor: move;
    z-index: 100;
    /* left: -2px; */
    top: 0px;
    border-radius: 2px;
}

#ships-overlay-computer,
#ships-overlay-human,
#ships-overlay-extra,
#board-overlay-computer,
#board-overlay-human {
    position: absolute;
    top: 0;
    left: 0;   
    width: 100%;
    height: 100%;
    pointer-events: none; 
    /* outline: solid 2px rgb(37, 54, 99);   */
}

#ships-overlay-extra {
    z-index: 100;
    outline: none;    
}

#board-overlay-computer,
#board-overlay-human {
    top: -4.5rem;
    left: 5.5rem;
    width: 10rem;
    height: 2.5rem;    
}

.selected-board {
    border: solid 1px rgb(201, 199, 105);
    border-radius: 4px;
}

.selected-board {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.4;
    }
  }

.ship-overlay,
.ship-overlay-blue,
.ship-overlay-sunk {
    position: absolute;   
    border-radius: 2px; 
    top: 0px;
    left: 0px;     
}

.ship-overlay-blue {   
    background-color: rgb(83, 109, 182);
    border: none;
    outline: solid 2px rgb(31, 46, 87);   
}

.ship-overlay-green {    
    outline: solid 2px rgb(130, 187, 130);   
}

.ship-overlay-red {   
    background-color: var(--color-blue); 
    outline: solid 2px var(--color-red);
}

.cell-shot {
    background-color:  rgb(37, 54, 99);
}

.cell-hit::before { 
    content: "✕";
    color: var(--color-red);
    font-size: 1.5rem; 
    display: grid;
    justify-content: center;
    align-items: center; 
    z-index: 200;           
}

.notification-wrap { 
    display: grid;
    justify-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 168, 168, 0.1); 
}

.notification { 
    display: flex;
    justify-content: space-between;    
    align-items: center; 
    width: 25rem;
    height: 4rem; 
    padding: 0 1.5rem;
    color: white; 
    font-size: 20px;
    margin-top: 1rem;  
}

.notification-win {
    background-color: var(--color-green);
}

.notification-lose {
    background-color: var(--color-red);
}

.button-rematch {
    cursor: pointer; 
    border: solid 1px rgb(238, 235, 235);   
    background-color: rgb(224, 224, 111);
    color: rgb(19, 18, 18);
    padding: 4px 8px;
    font-size: 16px; 
}

.ships-port {
    display: grid;
    gap: 1rem;   
    height: 260px;   
}

.ships-port-line {
    position: relative;
    display: flex;
    gap: 1.5rem;
}

.ship-box {
    position: relative;    
    border: dotted 1px rgb(89, 112, 212);
    border-radius: 2px;  
    /* padding-right: 4px;
    padding-bottom: 2px;
    border-radius: 2px; */
}

.ship-box-length-1,
.ship-box-length-2,
.ship-box-length-3,
.ship-box-length-4 {
    height: 34px;
}

.ship-box-length-1 {
    width: 34px;    
}

.ship-box-length-2 {
    width: 68px;   
}

.ship-box-length-3 {
    width: 102px;   
}

.ship-box-length-4 {
    width: 136px;     
}

.draggable-ships-container {
    display: grid;
    width: 280px;
    padding-top: 60px;
    gap: 2.5rem;
}

.pre-game-buttons-container {   
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;    
  
    button {
        cursor: pointer;     
        font-size: 1rem;
        padding: 4px 8px;
        border: solid 2px;
        border-radius: 4px;
        opacity: 0.8;         
    }    
}

#button-randomize {  
    color: var(--color-ligth-blue); 
    background-color: var(--color-blue);
    border-color: var(--color-ligth-blue);   
}

#button-start-game:hover,
#button-randomize:hover {  
    opacity: 1;
}

#button-start-game {
    color: var(--color-green);
    background-color: var(--color-blue);
    border: solid 2px var(--color-green);      
}

button:disabled {
    opacity: 0.3;  
    pointer-events: none;
}

.ship-cell {
    width: var(--cell-size);
    height: var(--cell-size);    
}

.disabled {
    pointer-events: none;
    opacity: 0.1;
}

.cell-disabled {
    pointer-events: none; 
}

.board-disabled {
    pointer-events: none; 
    opacity: 0.8;  
}

.hidden {
    visibility: hidden;
}

.ship-draggable[data-direction="vertical"] {
    display: grid;
}

.ship-draggable[data-length="4"][data-direction="vertical"] {   
    width: 32px;
    height: 134px;
}

.ship-draggable[data-length="3"][data-direction="vertical"] {
    width: 32px;
    height: 100px;
}

.ship-draggable[data-length="2"][data-direction="vertical"] {
    width: 32px;
    height: 66px;
}

.ship-draggable[data-length="4"][data-direction="horizontal"] {
    width: 134px;   
}

.ship-draggable[data-length="3"][data-direction="horizontal"] {
    width: 100px;   
}

.ship-draggable[data-length="2"][data-direction="horizontal"] {
    width: 66px;    
}

.ship-rotation-error {
    animation: shake 0.82s;   
    outline: solid 1px var(--color-red);
    /* background-color: rgba(248, 136, 136, 0.1); */
}
  
@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}










 









 