body {     
    display: grid;
    justify-content: center; 
    margin: 0;  
}

main {   
    display: flex;
    gap: 4rem;
    padding-top: 8rem;
}

section {
    display: grid;
    gap: 3rem;
}

.board-row {
    display: flex;
}

.player-name {
    text-align: center;
}

.board-cell {
    position: relative;
    width: 2.5rem;
    aspect-ratio: 1;  
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid rgb(230, 227, 227) 1px; 
}

.marker-col,
.marker-row {
    position: absolute;   
    width: 100%;
    text-align: center;   
    color: rgb(101, 101, 104);
}

.marker-col {
    top: -2rem;
    left: 0;
    font-size: 12px;
}

.marker-row {   
    left: -3rem;
    font-size: 14px;    
}

#computer,
#human {
    position: relative;
}

#ships-overlay-computer,
#ships-overlay-human {
    position: absolute;
    top: 0;
    left: 0;   
    width: 100%;
    height: 100%;
    pointer-events: none; 
    outline: solid rgb(228, 224, 224) 2px;  
}

.ship-overlay,
.ship-overlay-color,
.ship-overlay-sunk {
    position: absolute;   
    pointer-events: none; 
}

.ship-overlay-color {   
    background-color: rgba(134, 168, 243, 0.1); 
    outline: solid rgb(50, 81, 255) 2px;    
}

.ship-overlay-sunk {   
    background-color: rgba(253, 160, 165, 0.1);   
    outline: solid rgb(250, 54, 54) 2px;
}

.cell-shot {
    background-color: rgba(190, 188, 188, 0.1);
}

.cell-shot::before {    
    content: '•';   
    color: black;   
}

.cell-hit::before { 
    content: "✕";
    color: rgb(253, 45, 45);
    font-size: 1.5rem; 
    display: grid;
    justify-content: center;
    align-items: center;            
}

.notification-wrap { 
    display: grid;
    justify-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 168, 168, 0.1); 
}

.notification { 
    display: flex;
    justify-content: space-between;    
    align-items: center; 
    width: 25rem;
    height: 4rem; 
    padding: 0 1.5rem;
    color: white; 
    font-size: 20px;
    margin-top: 1rem;  
}

.notification-win {
    background-color: rgb(38, 165, 38);
}

.notification-lose {
    background-color: rgb(226, 33, 33);
}

.button-rematch {
    cursor: pointer; 
    border: solid 1px white;
    /* border-radius: 4px;  */
    background-color: rgb(230, 216, 24); 
    color: rgb(19, 18, 18);
    padding: 4px 8px; 
}









 