body {   
    display: grid;
    justify-content: center;   
}

main {
    display: flex;
    gap: 2rem;
}

.board-row {
    display: flex;
}

.board-cell {
    width: 2.5rem;
    aspect-ratio: 1;  
    display: grid;
    justify-content: center;
    align-items: center;
    border-top: solid rgb(214, 212, 212) 1px;
    border-left: solid rgb(214, 212, 212) 1px;
}

#computer,
#human {
    position: relative;
}

#ships-overlay-computer,
#ships-overlay-human {
    position: absolute;
    top: 0;
    left: 0;   
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    pointer-events: none; 
    border: solid rgb(204, 203, 203) 2px; 
}

.ship-overlay {
    position: absolute;   
    pointer-events: none;   
    background-color: rgba(134, 168, 243, 0.1); 
    border: solid rgb(120, 139, 247) 2px;    
}

.ship-overlay-sunk {
    position: absolute;   
    pointer-events: none;   
    background-color: rgba(253, 160, 165, 0.1); 
    border: solid rgb(250, 66, 66) 2px;    
}

.shot::before {    
    content: '•';   
    color: black;   
}

.hit::before { 
    content: "✕";
    color: rgb(253, 45, 45);
    font-size: 1.5rem; 
    display: grid;
    justify-content: center;
    align-items: center;            
}







